#
# (c) 2024, Yegor Yakubovich, yegoryakubovich.com, personal@yegoryakybovich.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#


API_PORT=
TASKS_FLOWER_PORT=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

FLOWER_USER=
FLOWER_PASSWORD=

ROOT_TOKEN=
SYNC_DB_URL=
SYNC_DB_TABLE_NAME=

PAYMENT_HG_PARAM_CLIENT_ID=
PAYMENT_HG_PARAM_CLIENT_SECRET=
PAYMENT_HG_PARAM_SERVICE_PROVIDER_ID=
PAYMENT_HG_PARAM_SERVICE_ID=
PAYMENT_HG_PARAM_SERVICE_PROVIDER_NAME=
PAYMENT_HG_PARAM_SERVICE_NAME=
PAYMENT_HG_PARAM_ADDRESS_COUNTRY=
PAYMENT_HG_PARAM_ADDRESS_LINE=
PAYMENT_HG_PARAM_ADDRESS_CITY=
PAYMENT_HG_PARAM_FULL_ADDRESS=
PAYMENT_HG_PARAM_LOCALITY_CODE=
PAYMENT_HG_PARAM_STORE_NAME=
PAYMENT_HG_PARAM_STORE_LOCALITY_NAME=
PAYMENT_HG_PARAM_STORE_CITY=
PAYMENT_HG_PARAM_STORE_LOCALITY_CITY=
