fastapi==0.109.1
uvicorn==0.27.0.post1
peewee
pymysql==1.1.0
pytz==2024.1
inflection==0.5.1
pydantic==2.6.0
pydantic_settings==2.1.0
python-multipart==0.0.7
addict==2.4.0
pillow==10.2.0
cryptography==42.0.2