fastapi==0.110.0
uvicorn==0.27.1
peewee
pymysql==1.1.0
pytz==2024.1
inflection==0.5.1
pydantic==2.6.3
pydantic_settings==2.2.1
python-multipart==0.0.9
addict==2.4.0
pillow==10.2.0
cryptography==42.0.5
celery[redis]~=5.3.6
flower==2.0.1
mybody_api_client==0.4.7
apscheduler==3.10.4
gspread==6.0.2
oauth2client==4.1.3